<ion-header>
  <ion-toolbar>
    <ion-title color="danger">
      References
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://opensource.com/resources/what-are-microservices">
       <img slot="start" src="../../assets/micro.png" height='40' width='40'>
        <ion-label>Micro Services 1</ion-label>
      </ion-item>
       <ion-item href="https://www.geeksforgeeks.org/microservices-introduction/">
      <img slot="start" src="../../assets/micro.png" height='40' width='40'>
        <ion-label>Micro Services 2</ion-label>
      </ion-item>
       <ion-item href="https://blog.algorithmia.com/introduction-to-microservices/">
      <img slot="start" src="../../assets/micro.png" height='40' width='40'>
        <ion-label>Micro Services 3</ion-label>
      </ion-item>
       <ion-item href="https://www.youtube.com/watch?v=gfWr2_H39N0">
       <img slot="start" src="../../assets/youtube.png" height='40' width='40'>
        <ion-label>Micro Services Video</ion-label>
      </ion-item>
       <ion-item href="https://www.docker.com/">
       <img slot="start" src="../../assets/docker.png" height='40' width='40'>
        <ion-label>Docker Introduction</ion-label>
      </ion-item>
       <ion-item href="https://docs.docker.com/registry/introduction/">
      <img slot="start" src="../../assets/docker.png" height='40' width='40'>
        <ion-label>Docker Registery</ion-label>
      </ion-item>
       <ion-item href="https://hub.docker.com/">
       <img slot="start" src="../../assets/docker.png" height='40' width='40'>
        <ion-label>Docker Hub</ion-label>
      </ion-item>
       <ion-item href="https://www.youtube.com/watch?v=lcQfQRDAMpQ">
     <img slot="start" src="../../assets/youtube.png" height='40' width='40'>
        <ion-label>Docker Video</ion-label>
      </ion-item>
       <ion-item href="https://kubernetes.io/">
       <img slot="start" src="../../assets/kubernetis.png" height='40' width='40'>
        <ion-label>Kubernetes Introduction</ion-label>
      </ion-item>
      <ion-item href="https://www.youtube.com/watch?v=F-p_7XaEC84">
      <img slot="start" src="../../assets/youtube.png" height='40' width='40'>
        <ion-label>Kubernetes Video</ion-label>
      </ion-item>
       <ion-item href="https://jee-appy.blogspot.com/2017/10/setup-kubernetes-cluster-kops-aws.html">
        <img slot="start" src="../../assets/kubernetis.png" height='40' width='40'>
        <ion-label>Kubernetes AWS Implementation</ion-label>
      </ion-item>
       <ion-item href="https://www.edureka.co/blog/install-kubernetes-on-ubuntu">
       <img slot="start" src="../../assets/kubernetis.png" height='40' width='40'>
        <ion-label>Kubernetes Local Implementation</ion-label>
      </ion-item>
       <ion-item href="https://cloud.google.com/kubernetes-engine/docs/">
       <img slot="start" src="../../assets/kubernetis.png" height='40' width='40'>
        <ion-label>Kubernetes GCP Implementation</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
