<ion-header>
  <ion-toolbar>
    <ion-title color="danger">
      Reach Me here
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card class="welcome-card">

<ion-grid>
  <ion-row>
   <ion-col size="1">
     
    </ion-col>
    <ion-col size="10">
     <img src="../../assets/rohan.jpg" style="width:350px;height:350px;margin:auto;display:block">
    </ion-col>
    <ion-col size="1">
     
    </ion-col>
  </ion-row>
</ion-grid>
     
      <ion-card-header>
        <ion-card-title color= "danger">Rohan Singh</ion-card-title>
      </ion-card-header>
      
<ion-list>
 <ion-list-header>
         <ion-label>Blockchain,Docker,JAVA,PYTHON,Spring Boot,Amazon Web Services, ETL Data WareHousing,SQL,
          Deployment Automation,Progressive Web Apps.</ion-label>
      </ion-list-header>
  <ion-item>
      <a href="tel:+91-7506487972">
      <ion-icon slot="start" name="call"></ion-icon>
      </a>
    <ion-label>7506487972</ion-label>
  </ion-item>
  <ion-item>
      <a href="mailto:rohan.birendra.singh@hsbc.co.in?Subject=Talk to Rohan">
      <ion-icon slot="start" name="mail"></ion-icon>
      </a>
    <ion-label>rohan.birendra.singh@hsbc.co.in</ion-label>
</ion-item>

</ion-list>

    </ion-card> 
</ion-content>
